body {
    font-family: "Roboto", sans-serif;
    background-image: url(background.jpg);
    background-size: cover;
    padding: 20px;
    margin-left: 1%;
    margin-top: 15%;
    text-align: center;
    font-size: 170%;
    color: black;
}

#title {
    color: rgb(147, 70, 34);
    font-size: 55px;
    background-color: black;
    padding: 10px;
    margin-left: 32%;
    margin-right: 32%;
    border-radius: 10px;
}

#slogan {
    color: rgb(147, 70, 34);
    background-color: black;
    padding: 10px;
    margin-left: 32%;
    margin-right: 32%;
    border-radius: 10px;

}

#result {
    margin-top: 20px;
    font-weight: bold;
}

#resetButton {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 90%;
}

#resetButton:hover {
    background-color: white;
    color: black;
}

#checkGuessButton{
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    
}

#checkGuessButton:hover {
    background-color: green;
    color: black;
}

#guessInput {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: large;
    text-align: center;
    border-color: gray;
}

#player1{
    position: relative;
    float: left;
    color: blue;
    background-color: black;
    padding-bottom: 50px;
    width: 15%;
    text-align: center;
    font-size: medium;
    border-color: blue;
    border-style: ridge;
    border-width: 5px;
}

#player2{
    position: relative;
    float: right;
    color: red;
    background-color: black;
    padding-bottom: 50px;
    width: 15%;
    text-align: center;
    font-size: medium;
    border-color: red;
    border-style: ridge;
    border-width: 5px;
}